{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}

<style>
	fieldset {
    font-family: sans-serif;
    border: 5px solid #1F497D;
    background: #ddd;
    border-radius: 5px;
    padding: 15px;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 32px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}
</style>


<div class="content-section" style="width:75%; padding-left: 15%;">
	<form method="POST">
		{% csrf_token %}

		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Register Today</legend>
			{{ form | crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-primary" type="submit">Sign Up</button>	
		</div>
	</form>



		<div class="border-top pt-3">
			<small class="text-muted">Already have an account? <a href="{% url 'login' %}" class="ml-2">Sign In</a></small>
			
		</div>
	
</div>

{% endblock %}