{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
{% block content %}

<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Estate</th>
				<th>city</th>
				<th>Occupants</th>
				<th>Created By</th>
				<th>Action</th>

			</tr>
		</thead>
		<tbody>
			{% for hood in hoods %}
			<tr>
				<td>{{hood.name}}</td>
				<td>{{hood.estate}}</td>
				<td>{{hood.city}}</td>
				<td>{{hood.occupants_count}}</td>
				<td>{{hood.admin}}</td>
				<td><a href="{% url 'hood-detail' hood.id %}">Details</a></td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>



{% endblock %}


