{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
{% block content %}

<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Location</th>
				<th>Email</th>
				<th>Industry</th>
				<th>Created By</th>
				<th>Action</th>

			</tr>
		</thead>
		<tbody>
			{% for business in businesses %}
			<tr>
				<td>{{business.name}}</td>
				<td>{{business.neighbourhood.estate}}</td>
				<td>{{business.email}}</td>
				<td>{{business.industry}}</td>
				<td>{{business.user}}</td>
				<td><a href="{% url 'business-detail' business.id %}">Details</a></td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>



{% endblock %}

