{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/business.css' %}">

<div class="container">
	<h5>Businesses in {{ object.neighbourhood.estate }}</h5>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="{{object.image.url}}">
          <span class="card-title">{{object.business_name | title}}</span>
        </div>

        <div class="card-content">
          <p>{{object.neighbourhood.estate}}</p>
        </div>
        <div class="card-content">
          <p>{{object.email}}</p>
        </div>

        <div class="card-action">
          <a href="#" target="new_blank">Link</a>
          <a href="#" target="new_blank">Link</a>

        </div>
      </div>

    </div>
    
    

  </div>

</div>

{% endblock %}


