{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
{% block content %}


<style>

</style>

<div>
	<h5 style="padding-left:10%; padding-right:10%;">Latest posts in the Neighbourhood</h5>
</div>

{% for post in posts %}
<article class="mdeia content-section" style="padding-left: 10%; padding-right: 10%;">
    <h2><a href="{% url 'post-detail' post.id %}" class="article-title" style="font-family: Indie Flower, cursive;">{{ post.title }}</a></h2>
	<img src="{{ post.author.profile.image.url}}" class="rounded-circle article-img" width="100" height="100" style="border-radius: 50%;">
	<div class="mdeia-body">
		<div class="article-metadata">
            <p class="article-content">{{post.content}}</p>
			<a class="mr-2" href="">Posted by:{{ post.author | title }}</a>
			<small class="text-muted">
           
			Posted: {{post.date_posted | timesince }} ago</small>
			 </div>
			
			
			
		</div>
		
	
	
</article> 
<hr>




{% endfor %}


{% endblock %}